<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP" />
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\v5.3\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
</configuration>
